<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UploadProductServlet</servlet-name>
        <servlet-class>UploadProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayImageServlet</servlet-name>
        <servlet-class>DisplayImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterFarmerServlet</servlet-name>
        <servlet-class>RegisterFarmerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlaceOrderServlet</servlet-name>
        <servlet-class>PlaceOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderServlet</servlet-name>
        <servlet-class>DeleteOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitFeedbackServlet</servlet-name>
        <servlet-class>SubmitFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDashboardServlet</servlet-name>
        <servlet-class>CustomerDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopImageServlet</servlet-name>
        <servlet-class>ShopImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendFeedbackServlet</servlet-name>
        <servlet-class>SendFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CLogoutServlet</servlet-name>
        <servlet-class>CLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductDemoServlet</servlet-name>
        <servlet-class>DeleteProductDemoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadProductServlet</servlet-name>
        <url-pattern>/UploadProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayImageServlet</servlet-name>
        <url-pattern>/DisplayImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterFarmerServlet</servlet-name>
        <url-pattern>/RegisterFarmerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlaceOrderServlet</servlet-name>
        <url-pattern>/PlaceOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderServlet</servlet-name>
        <url-pattern>/DeleteOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitFeedbackServlet</servlet-name>
        <url-pattern>/SubmitFeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDashboardServlet</servlet-name>
        <url-pattern>/CustomerDashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopImageServlet</servlet-name>
        <url-pattern>/ShopImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendFeedbackServlet</servlet-name>
        <url-pattern>/SendFeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CLogoutServlet</servlet-name>
        <url-pattern>/CLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductDemoServlet</servlet-name>
        <url-pattern>/DeleteProductDemoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
