body
{
background-image:url('picture1.png');
background-repeat:no-repeat;
background-size:cover;
}

.A
{
   
    font-size: 40px;
    color:brown;
  
  
}
.A:hover
{
   
    font-size: 40px;
    color:graytext;
   
   
}

